{% load static %}
<section class="slider_section position-relative">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="slider_item-box layout_padding2">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="img-box">
                  <div>
                    <img
                      src="{% static 'images/slider-img.jpg' %}"
                      alt=""
                      class="" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-box">
                  <div>
                    <h1>
                      Heustonn <br />
                      Maintenance <br />
                      <span> Service </span>
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider_item-box layout_padding2">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="img-box">
                  <div>
                    <img
                      src="{% static 'images/slider-img.jpg' %}"
                      alt=""
                      class="" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-box">
                  <div>
                    <h1>
                      Heustonn <br />
                      Maintenance <br />
                      <span> Service </span>
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider_item-box layout_padding2">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="img-box">
                  <div>
                    <img
                      src="{% static 'images/slider-img.jpg' %}"
                      alt=""
                      class="" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-box">
                  <div>
                    <h1>
                      Heustonn <br />
                      Maintenance <br />
                      <span> Service </span>
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="slider_nav-box">
      <div class="btn-box"></div>
      <div class="custom_carousel-control">
        <a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>
