{% extends 'bases/base.html' %} {% block title %}Acerca de Mi{% endblock %}
<!---->
{%block content %} {% load static %}
<section class="about_section layout_padding">
  <div class="container">
    <div class="custom_heading-container">
      <h3 class=" ">ABOUT OUR COMPANY</h3>
    </div>
    <p class="layout_padding2-top">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco
    </p>
    <div class="img-box layout_padding2">
      <img src="{% static 'images/about-img.jpg' %}" alt="" />
    </div>
    <p class="layout_padding2-bottom">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco
    </p>
  </div>
</section>
{% endblock %}
